/* you can add to or change this. */


#container {
  margin-left: 450px;
  margin-right: 500px;
  margin-top: 100px;
  border: 1px solid black;
}


#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  margin-left: 60px;
}
h1{
  text-align: center;
}