/* you can add to or change this. */


#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid black;
}


#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  margin-left: 80px;
  margin-right: 0;
}
h1{
  text-align: center;
}